[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AnaCoDa"]
	path = AnaCoDa
	url = https://github.com/clandere/anacoda
	shallow = true
	registered = true
